{% include calculate_relative_base.html %}
{% include escape-404.html %}
<div class="tag-cloud">
    {% if include.context == "post" %}
        <ul class="tags {{ include.class }}">
            {% for tag in page.tags %}
                <li><a href="{{ relativebase }}tag.html?tag={{ tag | url_encode }}" class="tag {{ include.class }}">{{ tag }}</a></li>
            {% endfor %}
    {% else %}
        <ul class="tags">
            {% assign garden_documents = site.posts | concat: site.notes %}
            {% for this_word in tag_words %}
                {% assign this_word = this_word | strip %}
                {% unless this_word == "" %}
                    {% assign tag_count = 0 %}
                    {% for document in garden_documents %}
                        {% if document.tags contains this_word %}
                            {% assign tag_count = tag_count | plus: 1 %}
                        {% endif %}
                    {% endfor %}
                    <li><a href="{{ relativebase }}tag.html?tag={{ this_word | url_encode }}" class="tag">{{ this_word }} <span>({{ tag_count }})</span></a></li>
                {% endunless %}
            {% endfor %}
    {% endif %}
        </ul>
</div>
